@model PagedList.IPagedList<BTL_ASP_HieuHaiSan.Models.TinTuc_VaoBep>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Display";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<p>
    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-success" })
</p>
<br />
<table class="table">
    <tr>
        <th style="text-align:center">
            Tiêu đề
        </th>
        <th style="text-align:center">
            Hình ảnh
        </th>
        <th style="text-align:center">
            Ngày tạo
        </th>
        <th style="text-align:center">
            Trạng thái
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="font-size:16px;color:black">
            <td style="width:30%">
                @Html.DisplayFor(modelItem => item.TieuDe)
            </td>
            <td style="text-align:center">
                @{
                    string imagePath = "~/Assets/Client/datafiles/tintuc/" + item.HinhAnh;
                }
                <img src="@Url.Content(imagePath)" width="180" class="img-thumbnail" />

            </td>

            <td style="text-align:center">
                @{
                    string s = item.NgayTao.ToString("dd/MM/yyyy");
                }
                @s
            </td>


            @if (item.Status)
            {
                <td style="text-align:center">
                    Tin tức
                </td>
            }
            else
            {
                <td style="text-align:center">
                    Vào bếp
                </td>
            }

            <td style="text-align:center">
                @Html.ActionLink("Sửa", "Edit", new { id = item.ID_TinTuc }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.ID_TinTuc }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.ID_TinTuc })
            </td>
        </tr>
    }

</table>
<br />
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Display", new { page }))