@model BTL_ASP_HieuHaiSan.Models.TinTuc_VaoBep
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var ImagePath = "~/Assets/Client/datafiles/tintuc/" + Model.HinhAnh;
}
<br />
<h3>Chỉnh sửa</h3>
<br />
@using (Html.BeginForm("Edit", "TinTucVaoBep", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID_TinTuc)

        <div class="form-group">
            @Html.LabelFor(model => model.TieuDe, "Tiêu đề", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TieuDe, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TieuDe, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HinhAnh, "Hình ảnh", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="hidden" name="img" value="@Model.HinhAnh" />
                <img id="output" class="img-rounded" alt="Ảnh" width="180" src="@Url.Content(ImagePath)" />
                <p><label for="ufile" style="cursor:pointer;">Chọn file ảnh</label></p>
                <input name="a" type="file" id="ufile" style="display:none;" onchange="loadFile(event)" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayTao, "Ngày tạo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{
                    DateTime a = Model.NgayTao;
                }
                <input type="text" name="Ngaytao" value="@a" readonly />
            </div>
        </div>

        @*<div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <div id="summernote" name="NoiDung"></div>
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.NoiDung, "Nội dung", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class=" col-md-8">
                <textarea class="summernote" name="NoiDung">@Model.NoiDung</textarea>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, "Tin tức", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox" style="left:10023px">
                    @Html.EditorFor(model => model.Status)
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở lại", "Display", null, new { @class = "btn btn-info" })
</div>

@if (ViewBag.Error != null)
{
    <br />
    <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
}
<script>
    var loadFile = function (event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
    //$(document).ready(function () {
    //    $('#summernote').summernote();
    //});
</script>