@model IEnumerable<BTL_ASP_HieuHaiSan.Models.TinTuc_VaoBep>

@{
    ViewBag.Title = "Index";
    
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TieuDe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayTao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoiDung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TieuDe)
        </td>
        <td>
            @{
                string imagePath = "~/Assets/Client/datafiles/tintuc/" + item.HinhAnh;
             }
            <img src="@Url.Content(imagePath)"width="180" />
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayTao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoiDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_TinTuc }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_TinTuc }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_TinTuc })
        </td>
    </tr>
}

</table>
