@model BTL_ASP_HieuHaiSan.Models.DangkyModel
@using BTL_ASP_HieuHaiSan.DAO;
@using BTL_ASP_HieuHaiSan.Models;
@{
    ViewBag.Title = "Đăng ký";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";

    SanPhamDAO sanPhamDAO = new SanPhamDAO();
}

<div class="conten">
    @using (Html.BeginForm("Dangky", "Taikhoans", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h2>Đăng ký thành viên</h2>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="thanhvien_popup">
                @if (ViewBag.Success != null)
                {
                    <div class="alert alert-success">@ViewBag.Success</div>
                }
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        <br />
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.MatKhau, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control" } })
                        <br />
                        @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.NhapLaiMatKhau, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.NhapLaiMatKhau, new { htmlAttributes = new { @class = "form-control" } })
                        <br />
                        @Html.ValidationMessageFor(model => model.NhapLaiMatKhau, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.HoTen, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control" } })
                        <br />
                        @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <select name="Gioitinh" id="Gioitinh" class="form-control">
                        <option value="">Giới tính *</option>
                        <option value="true">Nam</option>
                        <option value="false">Nữ</option>
                    </select>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SDT, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                        <br />
                        @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DiaChi, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                        <br />
                        @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Đăng ký" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    }
    <!--<div class="pagewrap">
        <div class="left_conten">-->
            @*Đăng ký*@
            <!--<div class="thanhvien_popup">
                <h2>Đăng ký thành viên</h2>
                <div class="form-group">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @if (ViewBag.Success != null)
                    {
                        <div class="alert alert-success">@ViewBag.Sucess</div>
                    }
                </div>

                <form action="" method="post" name="dangkythanhvien" id="dangkythanhvien">
                    <div class="col-md-3 row-frm">
                        <input type="text" name="Email" id="Email" class="form-control" placeholder="Email *">
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3 row-frm">
                        <input type="password" name="Matkhau" id="Matkhau" class="form-control" placeholder="Mật khẩu *">
                        @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3 row-frm">
                        <input type="password" name="Nhaplaimatkhau" id="Nhaplaimatkhau" class="form-control" placeholder="Nhập lại mật khẩu *">
                        @Html.ValidationMessageFor(model => model.NhapLaiMatKhau, "", new { @class = "text-danger" })
                    </div>
                    <h2></h2>
                    <div class="col-md-3 row-frm">
                        <input type="text" name="Hoten" id="Hoten" class="form-control" placeholder="Họ và tên *">
                        @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3 row-frm">
                        <select name="Gioitinh" id="Gioitinh" class="form-control">
                            <option value="">Giới tính *</option>
                            <option value="true">Nam</option>
                            <option value="false">Nữ</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3 row-frm">
                        <input type="text" name="SDT" id="SDT" class="form-control" placeholder="Điện thoại *">
                        @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3 row-frm">
                        <input type="text" name="Diachi" id="Diachi" class="form-control" placeholder="Địa chỉ *">
                        @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3 row-frm">
                        <span class="capcha">NY9YCG</span>
                        <input type="text" name="Capcha" id="Capcha" class="form-control" placeholder="Mã chống spam *">
                        <input type="hidden" id="hidden_captcha" value="NY9YCG" />
                    </div>
                    <input type="submit" value="Đăng ký" style="padding:10px 20px; border-radius:5px; background:lightgreen;display:block;width:100%;font-weight:bold;cursor:pointer;" />
                    <div class="clr"></div>
                </form>
            </div>
        </div>-->
        <div class="right_conten">
            <div class="menu_left desktop">
                <ul>
                    <h2>Sản phẩm</h2>
                    <li><a href="https://hieuhaisan.com/tom.html">» Tôm </a></li>
                    <li><a href="https://hieuhaisan.com/ca.html">» Cá tươi sống</a></li>
                    <li><a href="https://hieuhaisan.com/cua-ghe.html">» Cua - Ghẹ</a></li>
                    <li><a href="https://hieuhaisan.com/so-oc.html">» Ngao - Sò - Ốc</a></li>
                    <li><a href="https://hieuhaisan.com/muc.html">» Mực</a></li>
                    <li><a href="https://hieuhaisan.com/hai-san-nhap-khau.html">» Hải Sản Nhập Khẩu</a></li>
                    <li><a href="https://hieuhaisan.com/hai-san-tien-loi.html">» Hải Sản Tiện Lợi</a></li>
                    <li><a href="https://hieuhaisan.com/hai-san-kho-mot-nang.html">» Hải Sản Khô Một Nắng</a></li>
                </ul>
            </div>
            <div class="box_right_conten desktop">
                <h2>Sản phẩm bán chạy</h2>
                @foreach (var item in sanPhamDAO.getTop8())
                {
                    <ul>
                        <a href="@Url.Action("Details", "Home", new {id = item.ID_SanPham})">
                        <li><img alt="@item.TenSanPham" src="~/Assets/Client/datafiles/setone/@item.HinhAnh" class="lazy" width="250" height="250" /></li>
                        <h3>@item.TenSanPham</h3>
                        <h4>Giá: @item.GiaBan đ </h4>
                        </a>
                    </ul>
                }
                <div class="box_right_conten">
                    <h2>TIN NÓNG</h2>
                    <div class="marquee">
                        <ul>
                            <a href="https://hieuhaisan.com/hieu-hai-san-dong-hanh-cung-ban.html">
                            <li><img alt="Giãn cách không xa cách - Hiếu đồng hành cùng bạn" src="~/Assets/Client/datafiles/setone/16298689672662_thumb-thongcao.jpg" class="lazy" width="400" height="250" /></li>
                            <h3>Giãn cách không xa cách - Hiếu đồng hành cùng bạn</h3>
                            </a>
                        </ul>
                        <ul>
                            <a href="https://hieuhaisan.com/binh-on-gia-hai-san-2021.html">
                            <li><img alt="Bình ổn giá mùa giãn cách tại Hiếu Hải Sản" src="~/Assets/Client/datafiles/setone/16261781069589_banner-binh-on-giapng.jpg" class="lazy" width="400" height="250" /></li>
                            <h3>Bình ổn giá mùa giãn cách tại Hiếu Hải Sản</h3>
                            </a>
                        </ul>
                        <ul>
                            <a href="https://hieuhaisan.com/tom-hum-hap-ruou-vang.html">
                            <li><img alt="Tôm hùm hấp rượu vang" src="~/Assets/Client/datafiles/setone/14656368918363_tom-hum-hap-ruou-vang-hhs-2.jpg" class="lazy" width="400" height="250" /></li>
                            <h3>Tôm hùm hấp rượu vang</h3>
                            </a>
                        </ul>
                        <ul>
                            <a href="https://hieuhaisan.com/tom-hum-rang-me.html">
                            <li><img alt="Tôm hùm rang me" src="~/Assets/Client/datafiles/setone/14656376158133_tom-hum-rang-me-hhs-1.jpg" class="lazy" width="400" height="250" /></li>
                            <h3>Tôm hùm rang me</h3>
                            </a>
                        </ul>
                        <ul>
                            <a href="https://hieuhaisan.com/tom-hum-sashimi.html">
                            <li><img alt="Tôm hùm sashimi" src="~/Assets/Client/datafiles/setone/14656326441203_tom-hum-sashimi-an-song-hhs.jpg" class="lazy" width="400" height="250" /></li>
                            <h3>Tôm hùm sashimi</h3>
                            </a>
                        </ul>
                    </div>
                    <script>
                        $('.marquee').marquee({
                            duration: 19000,
                            gap: 0,
                            delayBeforeStart: 0,
                            direction: 'up',
                            duplicated: true,
                            startVisible: true
                        });
                    </script>
                </div>
                <div class="hotrokhachhang_right">
                    <h2>HỖ TRỢ KHÁCH HÀNG</h2>
                    <div class="list-yahoo">
                        <ul>
                            Hotline:: 091 5555 437
                        </ul>
                    </div>
                </div>
                <div class="banner_right desktop">
                    <ul>
                        <li>
                            <a href="https://hieuhaisan.com/tom-hum-canada-song.html"><img src="~/Assets/Client/datafiles/banners/14736666535386_300-300-tom-hum-canada-2.png" class="lazy" width="180" height="316" /></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clr"></div>
        </div>
    </div>
    <div class="clr"></div>
</div>

