@model BTL_ASP_HieuHaiSan.Models.DonHang

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xóa đơn hàng</h2>

<h3>Bạn có chắc muốn xóa đơn hàng này không?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaiKhoan.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoan.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiNhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiNhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDTNhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDTNhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailNhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailNhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChiNhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChiNhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PTThanhToan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PTThanhToan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayDat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Đồng ý" class="btn btn-default" /> |
            @Html.ActionLink("Trở lại", "Index", null, new {@class = "btn btn-info"})
        </div>
    }
</div>
