@model BTL_ASP_HieuHaiSan.Models.DonHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div>
    
    <h3>Chi tiết đơn hàng: @Model.ID_DonHang</h3>
    <br />
    <dl style="color:black" class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaiKhoan.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoan.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiNhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiNhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDTNhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDTNhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailNhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailNhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChiNhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChiNhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PTThanhToan)
        </dt>
        @if (Model.PTThanhToan == true)
        {
            <dd>Thanh toán trực tiếp</dd>
        }
        else
        {
            <dd>Thanh toán online</dd>
        }


        <dt>
            @Html.DisplayNameFor(model => model.NgayDat)
        </dt>

        <dd>
            @{
                string s = Model.NgayDat.ToString("dd/MM/yyyy");
            }
            @s
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        @switch (Model.TrangThai)
        {
            case 1:
                <dd style="color:blue; text-decoration:underline">Chờ xác thực</dd>
                break;
            case 2:
                <dd style="color:yellowgreen; text-decoration:underline">Đang giao</dd>
                break;
            case 3:
                <dd style="color:green; text-decoration:underline">Đã giao</dd>
                break;
            case 4:
                <dd style="color:red; text-decoration:underline">Đã hủy</dd>
                break;
        }

        <dt>Sản phẩm đặt mua</dt>
        <dd>
            <table border="1">
                <tr>
                    <td>Tên sản phẩm</td>
                    <td>Số lượng</td>
                </tr>
                @foreach (var item in ViewBag.listSP)
                {
                    <tr>
                        <td style="text-align:center">@item.TenSanPham</td>
                        <td style="text-align:center">@ViewBag.sl</td>
                    </tr>
                         
                }
             </table>
      </dd>


            </dl>
</div>
<p>
    @Html.ActionLink("Trở lại", "Index",new { @class = "btn btn-default" })
</p>
