@model PagedList.IPagedList<BTL_ASP_HieuHaiSan.Models.DonHang>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@using (Html.BeginForm())
{
    <p style="width:500px;">
        Tìm kiếm theo tên: @Html.TextBox("searchStringName", ViewBag.CurrentFilter as string, new { @class = "form-control" })
        Tìm kiếm SĐT: @Html.TextBox("searchStringPhone", ViewBag.CurrentFilter as string, new { @class = "form-control" })
        <input type="submit" value="Tìm" class="btn btn-default" style="margin-top:5px" />
    </p>

}
<table style="color:black" class="table">
    <tr>
        <th style="text-align:center">
            @Html.ActionLink("Đơn hàng", "Index", new
       {
           sortOrder = ViewBag.SapTheoTen,
           currentFilterName = ViewBag.CurrentFilterName,
           currentFilterPhone = ViewBag.CurrentFilterPhone
       })
        </th>
        <th style="text-align:center">
            Người nhận
        </th>
        <th style="text-align:center">
            Số điện thoại
        </th>

        <th style="text-align:center">
            Địa chỉ
        </th>

        <th style="text-align:center">
            Thanh toán
        </th>
        <th style="text-align:center">
            Ngày đặt
        </th>
        <th style="text-align:center">
            Trạng thái
        </th>
        <th style="text-align:center"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="width:5%">
                @Html.DisplayFor(modelItem => item.ID_DonHang)
            </td>
            <td style="text-align:center;width:10%">
                @Html.DisplayFor(modelItem => item.NguoiNhan)
            </td>
            <td style="text-align:center;width:10%">
                @Html.DisplayFor(modelItem => item.SDTNhan)
            </td>

            <td style="text-align:center;width:10%">
                @Html.DisplayFor(modelItem => item.DiaChiNhan)
            </td>


            @if (item.PTThanhToan == true)
            {
                <td style="text-align:center;width:10%">Thanh toán trực tiếp</td>
            }
            else
            {
                <td style="text-align:center;width:10%">Thanh toán online</td>
            }


            <td width:20%>
                @{
                    string s = item.NgayDat.ToString("dd/MM/yyyy");
                }
                @s
            </td>
            @switch (item.TrangThai)
            {
                case 1:
                    <td style="color:blue; text-decoration:underline">Chờ xác thực</td>
                    break;
                case 2:
                    <td style="color:yellowgreen; text-decoration:underline">Đang giao</td>
                    break;
                case 3:
                    <td style="color:green; text-decoration:underline">Đã giao</td>
                    break;
                case 4:
                    <td style="color:red; text-decoration:underline">Đã hủy</td>
                    break;
            }


            <td style="text-align:center;width:40%">

                @Html.ActionLink("Chi tiết", "Details", new { id = item.ID_DonHang }, new { @class = "btn btn-default" })
                @Html.ActionLink("Xác nhận", "Accept", new { id = item.ID_DonHang }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Đã giao", "Pass", new { id = item.ID_DonHang }, new { @class = "btn btn-success" })
                @Html.ActionLink("Hủy", "Cancel", new { id = item.ID_DonHang }, new { @class = "btn btn-danger" })
                @Html.ActionLink("Xóa", "Delete", new { id = item.ID_DonHang }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilterName = ViewBag.CurrentFilterName,
    currentFilterPhone = ViewBag.CurrentFilterPhone
}))

<!-- Button trigger modal -->
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>*@
    @*<script>
            function delete_order(nid) {
                $('#exampleModal').modal('show');
                var r = confirm("Bạn có muốn xóa hay không?");
                if (r) {
                    //var dataString = "nid=" + nid;
                    //$.ajax({
                    //    type: "POST",
                    //    url: "https://hieuhaisan.com/delete_cart",
                    //    data: dataString,
                    //    success: function (response) {
                    //        alert("Bạn đã xóa đơn hàng thành công");
                    //        $("#cart_list").html(response);
                    //        update_quick_cart();
                    //    }
                    //});
                } else {
                    return false;
                }
            }
        </script>*@