@using BTL_ASP_HieuHaiSan.DAO;
@{
    ViewBag.Title = "Vào bếp";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
    TinTucDAO tinTucDAO = new TinTucDAO();
    SanPhamDAO sanPhamDAO = new SanPhamDAO();
}

<div class="link_title">
    <div class="pagewrap">
        <h2>@ViewBag.Title</h2>
        <ul>
            <li><a style="text-decoration: none;" href="@Url.Action("Index", "Home")">Trang chủ</a> | <a style="text-decoration: none;" href="@Url.Action("Vaobep")">@ViewBag.Title</a> | <a style="text-decoration: none;" href="#">@Model.TieuDe</a></li>
        </ul>
        <div class="clr"></div>
    </div>
</div>
<div class="left_conten">
    <div class="showText">
        <h2>@Model.TieuDe</h2>
        <img alt="@Model.HinhAnh" src="~/Assets/Client/datafiles/tintuc/@Model.HinhAnh" class="img-rounded" width="500">
        <p style="text-align: center;"> @Html.Raw(@Model.NoiDung)</p>
        <p style="text-align: center;">@Model.NgayTao</p>
    </div>

    <div class="tintuckhac_conten">
        <h1>Bài viết liên quan</h1>
        <div class="clr"></div>
    </div>
    <div class="tintuckhac_conten">
        <h1>ĐỪNG BỎ QUA</h1>
        @foreach (var tt in tinTucDAO.getTop6VaoBep())
        {
            <ul>
                <a href="@Url.Action("DetailVaoBep", "TinTuc", new {id = tt.ID_TinTuc})">
                <li><img alt="@tt.HinhAnh" src="~/Assets/Client/datafiles/tintuc/@tt.HinhAnh"></li>

                <h2>@tt.TieuDe</h2>
                </a>
            </ul>
        }
        <div class="clr"></div>
    </div>
</div>

