@model PagedList.IPagedList<BTL_ASP_HieuHaiSan.Models.TinTuc_VaoBep>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@using BTL_ASP_HieuHaiSan.DAO;
@{
    ViewBag.Title = "Tin tức";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
    SanPhamDAO sanPhamDAO = new SanPhamDAO();
}


<div class="link_title">
    <div class="pagewrap">
        <h2>@ViewBag.Title</h2>
        <ul>
            <li><a style="text-decoration: none;" href="@Url.Action("Index", "Home")">Trang chủ</a> | <a style="text-decoration: none;" href="#">@ViewBag.Title</a></li>
        </ul>
        <div class="clr"></div>
    </div>
</div>
<div class="left_conten">
    <div class="placeSlide_main">
        <div class="placeSlide_page">
            <div class="tintuc_page">
                @foreach (var item in Model)
                {
                    <ul style="width:230px">
                        <li><img src="~/Assets/Client/datafiles/tintuc/@item.HinhAnh" class="lazy" alt="@item.HinhAnh" width="850" height="478" /></li>
                        <h2 style="font-size:15px; width:16em"><a href="@Url.Action("Details", "TinTuc", new {id = item.ID_TinTuc})">@item.TieuDe</a></h2>
                        <h3><img src="~/Assets/Client/images/website/icon_tame.jpg" width="12" height="12" />Thứ sáu, 07:56 Ngày 06/12/2019 </h3>
                        <div class="tintuc_conten" style="font-size:12px">
                            <p>@item.TieuDe rất thú vị với bạn!!!! Hãy đọc....</p>
                        </div>
                    </ul>
                }
            </div>
        </div>
    </div>
    <br />
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Tintuc", new { page }))
    <div class="clr"></div>
    
</div>

