
@using BTL_ASP_HieuHaiSan.DAO;
@{
    ViewBag.Title = "Vào bếp";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";

    SanPhamDAO sanPhamDAO = new SanPhamDAO();
}
<div class="link_title">
    <div class="pagewrap">
        <h2>@ViewBag.Title</h2>
        <ul>
            <li><a href="#">Trang chủ</a> <a style="text-decoration: none;" href="https://hieuhaisan.com/"></a> | <a style="text-decoration: none;" href="#">Vào Bếp</a> </li>
        </ul>
        <div class="clr"></div>
    </div>
</div>
<div class="pagewrap">
    <div class="left_conten">
        <div class="placeSlide_main">
            <div class="placeSlide_page">
                <div class="tintuc_page">
                    @foreach (var item in ViewBag.getVaoBep)
                    {
                        <ul>
                            <li><img src="~/Assets/Client/datafiles/tintuc/@item.HinhAnh" class="lazy" alt="@item.HinhAnh" width="850" height="478" /></li>
                            <h2><a href="@Url.Action("DetailVaoBep", "TinTuc", new {id = item.ID_TinTuc})">@item.TieuDe</a></h2>
                            <h3><img src="~/Assets/Client/images/website/icon_tame.jpg" width="12" height="12" />Thứ sáu, 07:56 Ngày 06/12/2019 </h3>
                            <div class="tintuc_conten">
                                <p>@item.TieuDe rất thú vị với bạn!!!! Hãy đọc....</p>
                            </div>
                            <div class="clr"></div>
                        </ul>
                    }

                </div>
            </div>
        </div>
        <div class="clr"></div>
        <div class="nums">
            <ul>
                <li class="page"><a style="cursor: text;" class=" pagination" href="javascript:void(0)">&lt;</a></li>
                <li class="page"><a class="active pagination" href="https://hieuhaisan.com/che-bien-hai-san/1">1</a></li>
                <li class="page"><a class="pagination" href="https://hieuhaisan.com/che-bien-hai-san/2">2</a></li>
                <li class="page"><a class="pagination" href="https://hieuhaisan.com/che-bien-hai-san/3">3</a></li>
                <li class="page"><a class="pagination" href="https://hieuhaisan.com/che-bien-hai-san/4">4</a></li>
                <li class="page"><a class="pagination" href="https://hieuhaisan.com/che-bien-hai-san/5">5</a></li>
                <li class="page"><a class="pagination" href="https://hieuhaisan.com/che-bien-hai-san/6">6</a></li>
                <li class="page"><a class="pagination" href="https://hieuhaisan.com/che-bien-hai-san/7">7</a></li>
                <li class="page"><a class="pagination" href="https://hieuhaisan.com/che-bien-hai-san/8">8</a></li>
                <li class="page"><a class="pagination" href="https://hieuhaisan.com/che-bien-hai-san/9">9</a></li>
                <li class="page"><a class="pagination" href="https://hieuhaisan.com/che-bien-hai-san/10">10</a></li>
                <li class="page"><a class=" pagination" href="https://hieuhaisan.com/che-bien-hai-san/2">&gt;</a></li>
            </ul>
            <div class="clr"></div>
        </div>
    </div>

