@using BTL_ASP_HieuHaiSan.Models;
@{
    ViewBag.Title = "ThanhToan";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

@if (Model == null || Model.Count == 0)
{
    <h1 style="color:#000;">Giỏ hàng trống!</h1>
}
else
{
    <div class="link_title">
        <div class="pagewrap">
            <h2>Thanh toán</h2>
            <div class="clr"></div>
        </div>
    </div>
    <div class="left_conten">
        <div id="cart_list">
            <form id="form_cart" name="form_cart" action="#" method="post">
                <table width="100%" border="0" cellspacing="1" cellpadding="0">
                    <tr>
                        <th width="18%">Hình ảnh</th>
                        <th>Tên sản phẩm</th>
                        <th width="10%">Số lượng</th>
                        <th width="15%">Đơn giá (VNĐ)</th>
                        <th width="15%">Thành tiền</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><img src="~/Assets/Client/datafiles/setone/@item.HinhAnh" width="220" height="210" /></td>
                            <td style="text-align:left"><a href="@Url.Action("Details", "Home", new { id = item.ID_SanPham })" )>Tôm Càng Xanh</a></td>
                            <td class="quantity2">
                                <input name="quantity2[]" onchange="update_cart()" class="qty" value="1" type="text" />
                                <input type="button" class="minus" value="-">
                                <input type="button" class="plus" value="+">
                            </td>
                            <td style="text-align:right">@String.Format("{0:0,0}", item.GiaGoc)</td>
                            <td style="text-align:right">@String.Format("{0:0,0}", item.DonGia)</td>
                            <td><a class="pro_del" href="@Url.Action("XoaGioHang", "GioHang", new { @MaSP = item.ID_SanPham })" onclick="delete_cart(304);">Xóa</a></td>
                        </tr>
                    }
                    <input type="hidden" name="nid[]" id="nid" value="435" />
                    <tr>
                        <td colspan="6">
                            <span id="pro_sum">
                                Tổng tiền:
                                <label>@String.Format("{0:0,0}", ViewBag.TongTien)</label>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6"><a href="@Url.Action("Index", "Home")" class="pro_del mar">Tiếp tục mua</a> </td>
                    </tr>
                </table>
            </form>
            <div class="clr"></div>
        </div>
        <div id="contactcart" class="box_dathang_id">
            <div class="contact">
                <form action="#" class="formBox" method="post" name="FormNameContact" id="OrderForm">
                    <div class="left">
                        <li class="row_input name">
                            <input id="txt_cfullname" name="txt_cfullname" type="text" value="Họ tên" onFocus="if (this.value == 'Họ tên'){this.value='';}" onBlur="if (this.value == '') {this.value='Họ tên';}" />
                        </li>
                        <li class="row_input phone">
                            <input onClick="this.select()" id="txt_nphone" name="txt_nphone" class="input {validate:{required:true,number:true, rangelength:[6,12]}}" type="text" value="Điện thoại / Điện thoại di động" onFocus="if (this.value == 'Điện thoại / Điện thoại di động'){this.value='';}"
                                   onBlur="if (this.value == '') {this.value='Điện thoại / Điện thoại di động';}" />
                        </li>
                        <li class="row_input mail">
                            <input id="txt_cemail" name="txt_cemail" type="text" value="Email" onFocus="if (this.value == 'Email'){this.value='';}" onBlur="if (this.value == '') {this.value='Email';}" />
                        </li>
                        <li class="row_input local">
                            <input id="txt_caddress" name="txt_caddress" type="text" value="Địa chỉ" onFocus="if (this.value == 'Địa chỉ'){this.value='';}" onBlur="if (this.value == '') {this.value='Địa chỉ';}" />
                        </li>
                    </div>
                    <div class="right">
                        <li class="row_input mess">
                            <textarea id="txt_cnote" name="txt_cnote" cols="" rows="" value="" onFocus="if (this.value == 'Nội Dung'){this.value='';}" onBlur="if (this.value == '') {this.value='Nội Dung';}">Nội Dung</textarea>
                        </li>
                        <li class="row_input code">
                            <span>VJXMLL</span>
                            <input name="txt_captcha" id="txt_captcha" type="text" value="Mã bảo vệ" onFocus="if (this.value == 'Mã bảo vệ'){this.value='';}" onBlur="if (this.value == '') {this.value='Mã bảo vệ';}" />
                            <input type="hidden" id="hidden_captcha" value="VJXMLL" />
                            <input name="sendmail" type="hidden" style="width:100%" value="2" class="box_input">
                        </li>
                    </div>
                    <div class="clr"></div>
                    <script>
                        $(document).ready(function () {

                            $("input[name='type_payment']").change(function (e) {
                                $thisRadio = $(this);
                                $currentValue = $(this).val();
                                $.each($("input[name='type_payment']"), function ($key, $element) {
                                    $element = $($element);
                                    if ($element.is(':checked')) {
                                        $("#payId" + $currentValue).show();
                                    } else {
                                        $("#payId" + $element.val()).hide();
                                    }
                                });
                            }).change();
                        });
                    </script>
                    <div id="payment_method">
                        <h3>PHƯƠNG THỨC THANH TOÁN</h3>
                        <ul>
                            <li class="payment_method_input">
                                <label><div class="radio_check"><input type="radio" checked="checked" value="1" name="type_payment" id="type1"></div> <div class="txt_payment">Thanh toán tiền mặt khi nhận hàng</div><div class="clr"></div></label>
                                <div class="payIds" id="payId1">
                                    <p>
                                        Để tạo thuận lợi cho qu&yacute; kh&aacute;ch ở trong nội vi th&agrave;nh phố Hồ Ch&iacute; Minh, ch&uacute;ng t&ocirc;i sẽ c&oacute; nh&acirc;n vi&ecirc;n đến thu tiền tận nơi chỉ bằng c&aacute;ch điền th&ocirc;ng
                                        tin v&agrave; click v&agrave;o n&uacute;t <strong>"X&aacute;c Nhận"</strong> b&ecirc;n dưới.&nbsp;
                                    </p>
                                </div>
                            </li>
                            <li class="payment_method_input">
                                <label><div class="radio_check"><input type="radio" value="2" name="type_payment" id="type2"></div><div class="txt_payment">Thanh toán bằng chuyển khoản qua ngân hàng</div><div class="clr"></div></label>
                                <div style="display:none;" class="payIds" id="payId2">
                                    <p><strong>Thanh to&aacute;n chuyển khoản qua Ng&acirc;n H&agrave;ng</strong></p>
                                    <p>- Đối với kh&aacute;ch ở c&aacute;c khu vực kh&aacute;c ngo&agrave;i TPHCM th&igrave; c&oacute; thể chuyển khoản qua Ng&acirc;n H&agrave;ng cho Hiếu Hải Sản.</p>
                                    <p>Danh s&aacute;ch t&agrave;i khoản ng&acirc;n h&agrave;ng của Hiếu Hải Sản:</p>
                                    <p>
                                        <strong>NG&Acirc;N H&Agrave;NG &Aacute; CH&Acirc;U (ACB)</strong><br /> 1. Chủ t&agrave;i khoản: Trảo Thị Hạnh<br /> 2. Số t&agrave;i khoản: 1455&nbsp; 2137<br /> 3. Chi nh&aacute;nh L&ecirc; Quang Định, B&igrave;nh
                                        Thạnh
                                    </p>
                                    <p>
                                        <strong>NG&Acirc;N H&Agrave;NG NGOẠI THƯƠNG VIETCOMBANK</strong><br /> 1. Chủ t&agrave;i khoản: Trảo Thị Hạnh<br /> 2. Số t&agrave;i khoản: 1019.740.784<br /> 3. Chi Nh&aacute;nh Đ&ocirc;ng S&agrave;i G&ograve;n
                                        Tp.HCM
                                    </p>
                                    <p><strong>NG&Acirc;N H&Agrave;NG KỸ THƯƠNG&nbsp; TECHCOMBANK</strong><br /> 1. Chủ t&agrave;i khoản: Trảo Thị Hạnh<br /> 2. Số t&agrave;i khoản: 190.308.269.500.37<br /> 3. Chi Nh&aacute;nh Nơ Trang Long Tp.HCM</p>
                                    <p>
                                        <strong>NG&Acirc;N H&Agrave;NG S&Agrave;I G&Ograve;N THƯƠNG T&Iacute;N SACOMBANK</strong><br /> 1. Chủ t&agrave;i khoản: Trảo Thị Hạnh<br /> 2. Số t&agrave;i khoản: 0600. 6290. 5258<br /> 3. Chi nh&aacute;nh
                                        L&ecirc; Quang Định, B&igrave;nh Thạnh
                                    </p>
                                    <p>&nbsp;</p>
                                </div>
                            </li>
                            <li class="payment_method_input">
                                <label><div class="radio_check"><input type="radio" value="3" name="type_payment" id="type3"></div><div class="txt_payment">Thanh toán qua ngân lượng</div><div class="clr"></div></label>
                                <div class="payIds" style="display:none;" id="payId3">
                                    <p>Đang cập nhật</p>
                                </div>
                            </li>
                            <div class="clr"></div>
                        </ul>
                        <div class="clr"></div>
                        <a href="javascript:" onClick="document.getElementById('OrderForm').reset()" style="cursor:pointer" class="button">LÀM LẠI</a><a href="javascript:" onClick="js_SetSubmitContactButtonClick(document.getElementById('OrderForm'),this.name)"
                                                                                                                                                         style="cursor:pointer" class="button">Xác nhận đặt hàng</a>
                    </div>
                    <div class="clr"></div>
                </form>
            </div>
        </div>
    </div>
}
<script>
    function js_SetSubmitContactButtonClick(obj_form, btn_name) {
        if (document.getElementById('txt_cfullname').value == 'Họ tên') {

            alert('Vui lòng nhập họ tên');

            document.getElementById('txt_cfullname').focus();
            return;
        }

        if (document.getElementById('txt_cemail').value == 'Email') {
            alert('Vui lòng nhập địa chỉ email');
            document.getElementById('txt_cemail').focus();
            return;
        }
        if (checkEmailContact() == false)
            return;

        if (document.getElementById('txt_caddress').value == 'Địa chỉ') {

            alert('Vui lòng nhập địa chỉ');

            document.getElementById('txt_caddress').focus();
            return;
        }
        if (document.getElementById('txt_nphone').value == 'Điện thoại') {
            alert('Vui lòng nhập số điện thoại');
            document.getElementById('txt_nphone').focus();
            return;
        }

        if (isNumber(document.getElementById('txt_nphone').value) == false) {
            alert('Vui lòng nhập đúng định dạng số điện thoại');
            document.getElementById('txt_nphone').focus();
            return;
        }

        if (document.getElementById('txt_captcha').value == 'Mã bảo vệ') {
            alert('Vui lòng nhập mã bảo vệ');
            document.getElementById('txt_captcha').focus();
            return;
        }

        if (document.getElementById('txt_captcha').value != document.getElementById('hidden_captcha').value) {
            alert('Vui lòng nhập đúng mã bảo vệ');
            document.getElementById('txt_captcha').value = '';
            document.getElementById('txt_captcha').focus();
            return;
        }
        if ($('input[name=type_payment]:checked').length == 0) {
            alert('Vui lòng chọn hình thức thanh toán');
            return;
        }
        obj_form.submit();
    }
    function checkEmailContact() {
        var email = document.getElementById('txt_cemail');
        //var filter = /^([a-zA-Z0-9_\.\-])+\(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        if (!filter.test(email.value)) {
            alert('Vui lòng nhập đúng định dạng email');
            email.focus;
            return false;
        }
    }
    function isNumber(n) {
        return !isNaN(parseFloat(n)) && isFinite(n);
    }
</script>


