@model BTL_ASP_HieuHaiSan.Models.SanPham

@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết sản phẩm</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DanhMuc.TenDanhMuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DanhMuc.TenDanhMuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSanPham)
        </dd>

        <dt>

            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>

        <dd>
            @{
                string ImagePath = "~/Assets/Client/datafiles/setone/" + Model.HinhAnh;
            }
            <img src="@Url.Content(ImagePath)" width="300" class="img-thumbnail" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaGoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaGoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.Raw(@Model.MoTa)
            @*@Html.DisplayFor(model => model.MoTa)*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.ID_SanPham })
    @Html.ActionLink("Trở lại", "Display", null, new { @class = "btn btn-info" })
</p>
